@nav-bg: #754ef7;
@red: #e00039;
@yellow: #f1913a; // Warning color
@nav-text-color: rgba(255, 255, 255, 0.5);
@nav-profile-pattern: ~"";
@nav-bg-pattern: linear-gradient(180deg, #754ef7 0%, #4510b7 100%);

img,
embed,
object,
video {
  max-width: 100%;
}

#page-container {
  padding: 20px 10px 20px 20px;
  overflow-y: auto;
  max-height: 90vh;
}

#wrapper {
  overflow: hidden;
}

body {
  overflow: hidden;
}

.wrapper {
  padding: 0;
}

.nav>li.active {
  border-right: 4px solid darken(@navy, 2%);
  border-left: none;
  background: rgba(255, 255, 255, 0.3);
}

.navbar-default .nav>li:not(:active)>a:hover,
.navbar-default .nav>li:not(:active)>a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border-right: 4px solid darken(@navy, 2%);
}

.nav li>a>.nav-icon {
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 5px;
  margin-bottom: 1px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.profile-element {
  display: flex;
  justify-content: space-between;
}

.mini-navbar>.profile-element {
  display: block;
}

.text-light-white {
  color: rgba(255, 255, 255, 0.5);
}

body.mini-navbar .nav-header {
  background-color: transparent;
  padding: 20px 10px;
}

body.mini-navbar .nav.metismenu>li.logo {
  padding: 20px 20px 0 20px;
}

.nav li>a>.nav-icon.my-portfolio {
  background-image: url("/img/ic_myPortfolio.svg");
}

.nav li>a>.nav-icon.trade-terminal {
  background-image: url("/img/ic_tradeTerminal.svg");
}

.nav li>a>.nav-icon.strategy-providers {
  background-image: url("/img/ic_strategicProvider.svg");
}

.nav li>a>.nav-icon.watchlist {
  background-image: url("/img/ic_watchlist.svg");
}

.nav li>a>.nav-icon.copy-traders {
  background-image: url("/img/ic_copyTraders.svg");
}

.nav li>a>.nav-icon.copypip-academy {
  background-image: url("/img/ic_copypip-academy.svg");
}

.nav li>a>.nav-icon.simulation {
  background-image: url("/img/ic_simulation.svg");
}

.nav li>a>.nav-icon.news-feed {
  background-image: url("/img/ic_newsFeed.svg");
}

.nav li>a>.nav-icon.help {
  background-image: url("/img/ic_help.svg");
}

.nav li>a>.nav-icon.refer-a-friend {
  background-image: url("/img/ic_referFriend.svg");
}

.nav li>a>.nav-icon.settings {
  background-image: url("/img/ic_settings.svg");
}

.nav>li.active>a>.nav-icon.my-portfolio {
  background-image: url("/img/ic_myPortfolio_active.svg");
}

.nav>li.active>a>.nav-icon.trade-terminal {
  background-image: url("/img/ic_tradeTerminal_active.svg");
}

.nav li.active>a>.nav-icon.strategy-providers {
  background-image: url("/img/ic_strategicProvider_active.svg");
}

.nav li.active>a>.nav-icon.watchlist {
  background-image: url("/img/ic_watchlist_active.svg");
}

.nav li.active>a>.nav-icon.copy-traders {
  background-image: url("/img/ic_copyTraders_active.svg");
}

.nav li.active>a>.nav-icon.copypip-academy {
  background-image: url("/img/ic_copypipAcademy_active.svg");
}

.nav li.active>a>.nav-icon.simulation {
  background-image: url("/img/ic_simulation_active.svg");
}

.nav li.active>a>.nav-icon.news-feed {
  background-image: url("/img/ic_newsFeed_active.svg");
}

.nav li.active>a>.nav-icon.help {
  background-image: url("/img/ic_help_active.svg");
}

.nav li.active>a>.nav-icon.refer-a-friend {
  background-image: url("/img/ic_referFriend_active.svg");
}

.nav li.active>a>.nav-icon.settings {
  background-image: url("/img/ic_settings_active.svg");
}

.divider {
  border-bottom: 1px solid #eeeeee;
}

.nav-header .role-card {
  width: 200px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 31px;
  left: 64px;
}

.role-card .fa-check {
  color: #339a4a;
  font-size: 1vw;
}

.role-card .role-list>p {
  display: flex;
  justify-content: space-between;
}

.role-card .role-list>p:last-child {
  margin-bottom: 0;
}

.role-card .role-list>p.active>.fa {
  display: block;
}

.role-card .role-list>p>.fa {
  display: none;
}

.nav li.divider {
  width: 80%;
  margin: auto;
  border-color: rgba(238, 238, 238, 0.2);
}

.sidebar-collapse {
  height: 100vh;
}

.contact-box {
  padding: 1em;
  margin-bottom: 1em;
  width: 290px;
  margin-right: 2em;
  min-height: 200px;

  .favourite-icon {
    cursor: pointer;
    font-size: 18px;
  }

  .return-percentage {
    color: @dark-green;
  }
}

.contact-box.sm {
  width: 250px;
}

// we are placing this style out of .contact-box to reuse it in grid and list view
.favourite-icon.active {
  color: @orange;
}

.text-light-gray {
  color: @text-light-gray;
  font-weight: 400;
}

.small-font {
  font-size: @small-font;
}

.ratings {
  .fa-star:not(.active) {
    color: @background-light-gray;
  }

  .fa-star.active {
    color: @orange;
  }
}

.w-300 {
  width: 300px;
}

.inline-search-icon {
  position: absolute;
  top: 11px;
  left: 11px;
  height: 17px;
  z-index: 1;
  color: @search-icon-color;
  font-size: 14px;
}

.inline-search-icon+.form-control {
  padding-left: 30px;
}


.form-control::placeholder,
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: @placeholder-color;
}

.ibox-content .table .return-percentage {
  color: #339a4a;
}

.tabs-container {
  .nav-tabs {
    border-bottom: none;
  }

  .tabs-header {}
}

.subheader .btn-group .fa {
  color: @subheader-icon-color;
  font-size: 16px;
}

.subheader .btn-group .btn.active .fa {
  color: @navy;
}

.subheader .btn-group .btn.active {
  background-color: @subheader-icon-bg;
  box-shadow: none;
}

.subheader {
  .returns-filter {
    height: 40px;
    align-self: center;
  }
}

table thead th {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
}

.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
  padding: 15px 0;
}

.canvas-max-width-trendline {
  width: 17%;
}

.btn-followers {
  border-radius: 4px 0 0 4px;
  height: 33px;
}

.role-chip {

  border-radius: 4px;

  font-size: 10px;
  text-transform: uppercase;
  height: 20px;
  align-self: center;
  font-weight: bold;

  &-follower {
    color: #487FD9;
    background: #D2E7FF;
  }

  &-provider {
    background: #FFEDAE;
    color: #BA8C16;

  }
}

/* Loader state for rising cards */
#rising-stars .panel-body .contact-box.loading {
  @card-padding: 15px;
  /* avatar specs */
  @avatar-radius: 19px;
  @avatar-size: @avatar-radius * 2;
  @avatar-position: @card-padding @card-padding;
  @avatar-skeleton: radial-gradient(circle @avatar-radius at @avatar-radius @avatar-radius, @light-gray 99%, transparent 0);

  /* username specs */
  @username-height: 10px;
  @username-width: 80px;
  @username-position: 64px 19px;
  @username-skeleton: linear-gradient(@light-gray @username-height, transparent 0);

  /* Fullname specs */
  @fullname-height: 10px;
  @fullname-position: 64px 38px;
  @fullname-width: 100px;
  @fullname-skeleton: linear-gradient(@light-gray @fullname-height, transparent 0);

  /* Return percentage specs */
  @return-percent-height: 20px;
  @return-percent-position: @card-padding 70px;
  @return-percent-width: 50px;
  @return-percent-skeleton: linear-gradient(@light-gray @return-percent-height, transparent 0);

  /* Risk Amount specs */
  @risk-amount-height: 20px;
  @risk-amount-position: 225px 70px;
  @risk-amount-width: 50px;
  @risk-amount-skeleton: linear-gradient(@light-gray @risk-amount-height, transparent 0);

  /* Return Percentage Text specs */
  @return-text-height: 8px;
  @return-text-position: @card-padding 95px;
  @return-text-width: 40px;
  @return-text-skeleton: linear-gradient(@light-gray @return-text-height, transparent 0);

  /* Risk Text specs */
  @risk-text-height: 8px;
  @risk-text-position: 234px 95px;
  @risk-text-width: 40px;
  @risk-text-skeleton: linear-gradient(@light-gray @risk-amount-height, transparent 0);

  /* Followers Text specs */
  @followers-text-height: 8px;
  @followers-text-position: @card-padding 180px;
  @followers-text-width: 60px;
  @followers-text-skeleton: linear-gradient(@light-gray @followers-text-height, transparent 0);

  /* Drawdown Text specs */
  @draw-text-height: 8px;
  @draw-text-position: 215px 180px;
  @draw-text-width: 60px;
  @draw-text-skeleton: linear-gradient(@light-gray @draw-text-height, transparent 0);

  /* Animation specs */
  @blur-width: 200px;
  @blur-size: 50px 200px;
  @blur-position: 0 0;
  @blur-skeleton: linear-gradient(90deg, rgba(@white, 0) 0, rgba(@white, .8) 50%, rgba(@white, 0) 100%);

  /* build Ghost Skeleton */
  .btn-primary.btn-block {
    margin-top: 127px;
  }

  background-repeat: no-repeat;
  background-image: @avatar-skeleton,
  @blur-skeleton,
  @username-skeleton,
  @fullname-skeleton,
  @return-percent-skeleton,
  @risk-amount-skeleton,
  @return-text-skeleton,
  @risk-text-skeleton,
  @followers-text-skeleton,
  @draw-text-skeleton;

  background-size: @avatar-size,
  @blur-size,
  @username-width @username-height,
  @fullname-width @fullname-height,
  @return-percent-width @return-percent-height,
  @risk-amount-width @risk-amount-height,
  @return-text-width @return-text-height,
  @risk-text-width @risk-text-height,
  @followers-text-width @followers-text-height,
  @draw-text-width @draw-text-height;

  background-position: @avatar-position,
  @blur-position,
  @username-position,
  @fullname-position,
  @return-percent-position,
  @risk-amount-position,
  @return-text-position,
  @risk-text-position,
  @followers-text-position,
  @draw-text-position;

  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position:
      15px 15px,
      100% 0,
      64px 19px,
      64px 38px,
      15px 70px,
      225px 70px,
      15px 95px,
      234px 95px,
      15px 180px,
      215px 180px;
  }
}

/* My portfolio page */

.table tfoot {
  .pagination .fa {
    height: 20px;
    width: 20px;
    font-size: 16px;
    color: @tfoot-pagination-action;
    cursor: pointer;
  }

  .rows-per-page {
    width: 165px;
  }
}

.nav-tabs>li>a {
  color: @bold-black
}

.copypip-table {

  .header-text {
    color: @bold-black;
    font-weight: 600;
    font-size: 16px;
  }

  .action-tools {
    color: @subheader-icon-color;
    font-size: 14px;

    .btn.text-dark-green:hover {
      color: @dark-green;
    }

    .btn.text-bleed-red:hover {
      color: @bleed-red;
    }
  }

  thead {
    background: @thead-background;
    color: @thead-color;
    border-top: 1px solid #EEEEEE;
  }

  tr>td:first-child,
  tr>th:first-child {
    padding-left: 1rem;
  }

  .table>thead>tr>th {
    border-bottom-color: #EEEEEE;
    text-transform: uppercase;
  }
}