.trading-view-widget {
    width: 70%;
    height: 80vh;

    .tradingview-widget-container {
        width: 100%;

        iframe {
            width: 100%;
        }
    }
}

.technical-summary-box {
    width: 30%;
}