.faq {
    border-radius: 6px;

    .question-accordion {
        width: 50%;
        border-bottom: 1px solid @table-border;
    }
}

.get-help {
    border-radius: 6px;
    max-height: 700px;
    .bg-help {
        background: @help-blue;
        min-height: 165px;
    }
}