#page-wrapper.login-page {
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    .login-container {
        height: auto;
        background: @white;

        .login-form {
            width: 100%;
            margin: 10vh auto;
            max-width: 300px;

            .nav.nav-tabs {
                border: none
            }

            img {
                max-height: 100vh;
            }
        }

        .leverage-container {
            .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
                line-height: 2rem !important;
            }

            .select2-container--bootstrap4 .select2-selection--single {
                height: calc(2rem + 2px) !important;
            }
        }

        .img-logo {
            height: 22px;
        }
    }

    .img-display {
        height: auto;
        background: url('/img/bg_desktop_signup.jpg');
        background-size: 100% 100%;

        .disclaimer-content {
            width: auto;
            margin-top: 10vh;
            margin-left: 3rem;
            margin-right: 3rem;
        }

        .notice-content {
            background: rgba(48, 25, 102, 0.6);
            backdrop-filter: blur(8px);
            border-radius: 6px;
            margin-left: 3rem;
            margin-right: 3rem;
            margin-top: 10vh;
        }
    }
}