.sparkline-container {
    width: 100%;
    background-color: @black;
    border-radius: 6px;
    min-height: 80px;

    .desktop-content {
        @media screen and (max-width: 480px) {
            display: none !important;
        }
    }

    .responsive-content {
        display: none !important;

        @media screen and (max-width: 480px) {
            display: block !important;
        }

        .key,
        .key>p {
            color: @lighter-gray;
            font-size: 14px;
        }

        .value {
            font-weight: bold;
        }
    }

    .sparkline {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        margin-right: 1em;

        .value {
            font-size: 16px;
            font-weight: bold;
        }

        .key {
            color: @lighter-gray;
            font-size: 14px;
        }

        .sub-key {
            font-size: 12px;
            color: @lighter-gray;
        }
    }

    .sparkline-container .sparkline:first-of-type {
        margin-right: 0;
    }

    .divider {
        width: 1px;
        border: none;
        height: 100%;
        width: 1px;
        background-color: #000000;
    }

    .horizontal-divider {
        width: 100%;
        border: none;
        background-color: #000000;
        height: 2px;
    }

    .w-60 {
        width: 60%
    }

    .green {
        color: @navy;
    }

    .white {
        color: @white;
    }

    .dark-red {
        color: @dark-red;
    }

    .light-white {
        color: @lighter-gray;
    }

    .highlight {
        font-size: 1.75rem !important;
    }

    .border-right {
        border-right: 2px solid #000000 !important;
    }
}

// line chart
.portfolio-line-chart {
    border: 1px solid @lightest-gray;
    border-radius: 6px;
    position: relative;
    margin: auto;
    max-height: 360px;
    width: 100%;

    .chart-filter {
        .btn {
            border: none
        }

        .active {
            color: @navy;
            box-shadow: none;
        }
    }
}

.portfolio-users-table {
    min-height: 250px;
    border: 1px solid @lightest-gray;
    border-radius: 6px;

    @media screen and (max-width: 968px) {
        .table {
            display: none;
        }

        .responsive-providers {
            display: block !important;
        }
    }

    .header-text {
        color: @bold-black;
        font-weight: 600;
        font-size: 16px;
    }

    .action-tools {
        color: @subheader-icon-color;
        font-size: 14px;

        .btn.text-dark-green:hover {
            color: @dark-green;
        }

        .btn.text-bleed-red:hover {
            color: @bleed-red;
        }
    }

    tr>td:first-child,
    tr>th:first-child {
        padding-left: 1rem;
    }

    .table>thead>tr>th {
        border-bottom-color: #EEEEEE;
        text-transform: uppercase;
    }

    .new-chip {
        color: @white;
        background: @dark-blue;
        border-radius: 4px;
        font-size: 10px;
        text-transform: uppercase;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .responsive-providers {
        display: none;

        >* {
            border-top: 1px solid @table-border;
        }

        .responsive-label {
            text-transform: uppercase;
            color: @thead-color;
            font-size: 10px;
        }

        .responsive-value {
            font-size: 14px;
            word-break: break-word;
        }
    }
}