.settings-page {
    .wrapper.wrapper-content {
        @media screen and (max-width: 1250px) {
            flex-wrap: wrap;
        }
    }

    .basic-profile-settings {
        min-width: 21vw;
        border-radius: 6px;
        margin-right: 1rem;

        @media screen and (max-width: 1250px) {
            width: 100%;
            margin-right: 0;
        }

        @media screen and (max-width: 768px) {
            border-radius: 0;
        }

        .profile-img {
            width: 48px;
            height: 48px;
        }

        .camera-img {
            width: 23px;
            height: 23px;
            position: absolute;
            left: 30px;
            top: 30px;
            background: @navy;
            padding: 4px;
        }
    }

    .profile-settings {
        border-radius: 6px;

        @media screen and (max-width: 768px) {
            border-radius: 0;
        }

        .full-width-control {
            max-width: 360px;
        }

        .half-width-control {
            max-width: 165px;
        }
    }

    .trading-accounts {
        width: inherit;
        border-radius: 6px;

        @media screen and (max-width: 768px) {
            border-radius: 0;
        }

        .live-account {
            background-color: rgba(34, 208, 145, 0.2);
            border-radius: 4px;
            letter-spacing: 0.35em;
            width: 45px;
            color: @navy;
        }

        .demo-account {
            background-color: @border-color-bookmark-icon;
            border-radius: 4px;
            letter-spacing: 0.08em;
            width: 45px;
            color: @placeholder-color;
        }

        .online {
            background-color: @lightest-green;
            color: #000000;
            border-radius: 4px;
        }
    }

    .secondary-details-settings {
        min-width: 59vw;

        @media screen and (max-width: 1250px) {
            width: 100%;
            margin-top: 1rem;
        }

        .profile-settings {
            width: inherit;
        }
    }

    .mh-sm {
        max-height: 553px;
    }

    .mh-auto {
        max-height: fit-content;
    }
}

#become-strategy-provider-modal {
    .modal-dialog {
        width: 400px;

        .full-form-control {
            width: 165px;
        }

        .half-form-control {
            width: 60%;
        }
    }

    .modal-body {
        max-height: 500px;
    }
}

.basic-profile-settings {
    .camera {
        position: absolute;
    }
}