.sidebar-panel {
  width: 220px;
  background: darken(@gray, 3%);
  padding: 10px 20px;
  position: absolute;
  right: 0;
  height: calc(~"100% - 62px");
}

.sidebar-panel .feed-element img.rounded-circle {
  width: 32px;
  height: 32px;
}

.sidebar-panel .feed-element,
.media-body,
.sidebar-panel p {
  font-size: 12px;
}

.sidebar-panel .feed-element {
  margin-top: 20px;
  padding-bottom: 0;
}

.sidebar-panel .list-group {
  margin-bottom: 10px;
}

.sidebar-panel .list-group .list-group-item {
  padding: 5px 0;
  font-size: 12px;
  border: 0;
}

.sidebar-content .wrapper,
.wrapper.sidebar-content {
  padding-right: 230px !important;
}

.body-small .sidebar-content .wrapper,
.body-small .wrapper.sidebar-content {
  padding-right: 20px !important;
}

// Right sidebar

.right-sidebar {
  background-color: #fff;
  border-left: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  overflow: hidden;
  position: fixed;
  top: 60px;
  width: 260px !important;
  z-index: 1009;
  bottom: 0;
  right: -260px;
}

.right-sidebar.sidebar-open {
  right: 0;
  top: 0;
}

.right-sidebar.sidebar-open.sidebar-top {
  top: 0;
  border-top: none;
}


.sidebar-container {
  .fa-close {
    font-size: 18px;
  }
  .sidebar-content {
  }

  .sidebar-title {
    border-bottom: 1px solid @border-color;
  }
}
