#page-container.simulation-page {

    .calculate-card {
        height: 265px;
        border-radius: 6px;
        min-width: 340px;

        .input-amount {
            padding-left: 4rem !important;

            &::placeholder {
                text-align: right;
            }
        }

        #calculate-cta:disabled {
            background: @lightest-gray;
            border-color: @lightest-gray;
            border-radius: 4px;
        }
    }

    .simulation-strategy-providers {
        border-radius: 6px;

        .dropdown-toggle::after {
            content: none;
        }

        #providers-search {
            border-radius: 0;
        }

        .dropdown-menu {
            width: 340px;
        }
    }

    .simulation-line-chart {
        border: 1px solid @lightest-gray;
        border-radius: 6px;
        position: relative;
        margin: auto;
        max-height: 360px;
        width: 100%;

        @media screen and (max-width: 768px) {
            border-radius: 0;
        }

        .chart-filter {
            .btn {
                border: none
            }

            .active {
                color: @navy;
                box-shadow: none;
            }
        }
    }

    #follow-provider-modal {
        .simulation-text {
            color: @purple;
            background: @light-purple;
            letter-spacing: 0.35em;
            border-radius: 4px;
        }
    }
}