.strategy-provider-details-section {
    .left-section {
        max-width: 350px;
        min-width: 350px;

        .provider-details-section {
            border-radius: 6px;
            width: 100%;
        }

        .followers-section {
            border-radius: 6px;
            width: 100%;
        }
    }

    .right-section {

        .strategy-provider-line-chart-section {
            max-height: 600px;
            width: 100%;

            .chart-filter {
                .btn {
                    border: none
                }

                .active {
                    color: @navy;
                    box-shadow: none;
                }
            }
        }

        .trade-history-section {
            border-radius: 6px;
            width: 100%;

            tr>td:first-child,
            tr>th:first-child {
                padding-left: 1rem;
            }

            .responsive-trade-history {
                >* {
                    border-top: 1px solid @table-border;
                }

            }
        }
    }
}