.strategy-provider-section {
    .tabs-header {
        background: @white;
        min-height: 52px;
        align-items: center;
        padding: 10px;
        border-radius: 6px;

        .actions-container {
            @media screen and (max-width: 1000px) {
                margin-top: 0.5rem;
            }
        }

        @media screen and (max-width: 768px) {
            border-radius: 0;
        }
    }

    .nav.nav-tabs li {
        margin-right: 1rem;
    }

    .panel-body {
        column-gap: 1em;
        row-gap: 1em;
        width: 100%;
    }

    .nav-tabs .nav-link>img {
        margin-right: 0.5rem;
        height: 13px;
        width: auto;
        margin-bottom: 2px;
    }

    .philosophy-text {
        color: @tfoot-pagination-action;
        max-height: 44px;
        overflow-y: auto;
        overflow-x: hidden;
        font-size: 12px;
    }

    .joined-date {
        color: @tfoot-pagination-action;
        font-size: 12px;
    }

    .text-gray {
        color: @tfoot-pagination-action;
    }

    .text-green {
        color: @dark-green;
    }

    #featured {
        .contact-box {
            width: 350px
        }

        .follow-provider {
            width: 40%;
        }
    }

    .table>thead>tr>th {
        font-size: 11px;
    }

    tr>td:first-child,
    tr>th:first-child {
        padding-left: 1rem;
    }

    .table-responsive {
        margin-top: -1rem !important;
        border-radius: 0 0 6px 6px;

        @media screen and (max-width: 1024px) {
            .table {
                display: none;
            }

            .responsive-users {
                display: block !important;
            }
        }
    }

    .contact-box {
        cursor: pointer;
    }

    .line-chart-container {
        height: 40px;
    }

    .responsive-users {
        display: none;

        .hide-m {
            display: block;

            @media screen and (max-width: 480px) {
                display: none;
            }
        }

        >* {
            border-top: 1px solid @table-border;
        }

        .responsive-label {
            text-transform: uppercase;
            color: @thead-color;
            font-size: 10px;
        }

        .responsive-value {
            font-size: 14px;
            word-break: break-word;
        }
    }
}

#follow-provider-modal {
    .username-container {
        margin-left: 2.5rem !important;
    }

    .risk-mangement {
        border-top: 1px solid #dee2e6;
    }

    .form-check-input {
        width: 18px;
        height: 18px;
    }

    .live {
        letter-spacing: 0.35em;
    }

}