.provider-details-ph-col {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 6px;
}
.provider-details-followers-col {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 600;
}
.provider-details-chart{
    height: 30vh;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 6px;
}
.provider-details-table {
    height: 30vh;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 6px;
}
.width-100 {
    width: 100%;
}
.border-provider-profile {
    border-bottom: 1px solid #EEEEEE;
}
.ph-block-title {
    font-size: 10px;
    font-weight: 600;
}
.ph-block-body {
    font-size: 12px;
    color: #6D788F;
}
.ph-block-footer {
    font-size: 10px;
    color: #6D788F;
}
.provider-details-age-block {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.age-block-text {
    font-size: 12px;
}
.age-block-value {
    font-size: 14px;
}
.pt-pb-2 {
    padding-top: 0.5rem !important ;
    padding-bottom: 00.5rem !important;
}
.justify-content-sb {
    justify-content: space-between;
}
.crb-text {
    display: flex;
    flex-flow: column;
    font-size: 10px;
}
.crb-value {
    color: #339A4A;
    font-size: 24px;
}
.follow-provider-block {
    flex-direction: row-reverse;
}
.follow-provider-btn {
    color: #22D091;
    width: 85px;
    height: 16px;
    font-size: 12px;
}
.advised-min-col {
    display: flex;
    flex-flow: column;
}
.advised-min-subtext {
    color: #2B99FF;
}