.strategy-provider-section {
    .tabs-header {
        background: @white;
        min-height: 52px;
        align-items: center;
        padding: 10px;

        .actions-container {
            @media screen and (max-width: 1000px) {
                margin-top: 0.5rem;
            }
        }
    }

    .panel-body {
        column-gap: 1em;
        row-gap: 1em;
        width: 100%;
    }

    .nav-tabs .nav-link>img {
        margin-right: 0.5rem;
        height: 13px;
        width: auto;
        margin-bottom: 2px;
    }

    .philosophy-text {
        color: @tfoot-pagination-action;
        max-height: 44px;
        overflow-y: auto;
        overflow-x: hidden;
        font-size: 12px;
    }

    .joined-date {
        color: @tfoot-pagination-action;
        font-size: 12px;
    }

    .text-gray {
        color: @tfoot-pagination-action;
    }

    .text-green {
        color: @dark-green;
    }

    #top-growth {
        .contact-box {
            max-width: 276px;
        }
    }

    #featured {
        .contact-box {
            width: 350px
        }

        .follow-provider {
            width: 40%;
        }
    }

    .table>thead>tr>th {
        font-size: 11px;
    }
}

#follow-provider-modal {
    .username-container {
        margin-left: 2.5rem !important;
    }

    .uppercase-label {
        color: @thead-color;
        text-transform: uppercase;
        font-size: @extra-small-font;
    }

    .risk-mangement {
        border-top: 1px solid #dee2e6;
    }

    .form-check-input {
        width: 18px;
        height: 18px;
    }

    .modal-body {
        max-height: 680px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 0 !important;
    }

    .account-number {
        background-color: rgba(34, 208, 145, 0.2);
        border-radius: 4px;
    }

    .live {
        letter-spacing: 0.35em;
    }

    .modal-content {
        height: 640px;
    }

    .scrollable-content {
        max-height: 280px;
        overflow-x: hidden;
        overflow-y: auto
    }
}