.btn-watchlist {
    color: @bold-black;
    padding: 8px;

    .fa {
        color: @subheader-icon-color;
    }
}

.currency-chip {
    background: @chip-background-color;
    color: @chip-text-color;
    padding: 8px;
    margin-right: 0.5rem;

    img {
        cursor: pointer;
        height: 12px;
        width: auto;
        margin-bottom: 3px;
    }
}

.trade-terminal-chart {
    height: 20vw;
    border-radius: 6px;
}

.buy-sell-section {
    border-radius: 6px;
    height: 20vw;
    width: 320px;
}

.trade-section {
    border-radius: 6px;
    height: 20vw;
    width: 55vw;

    .tabs-header {
        padding: 10px;
    }

    .panel-body {
        padding: 15px;
    }
}