.btn-watchlist {
    color: @bold-black;
    padding: 8px;
    height: 34px;

    .fa {
        color: @subheader-icon-color;
    }
}

.currency-chip {
    background: @chip-background-color;
    color: @chip-text-color;
    padding: 8px;
    margin-right: 0.5rem;
    height: 34px;

    img {
        cursor: pointer;
        height: 12px;
        width: auto;
    }
}

.trade-terminal-chart {
    height: 20vw;
    border-radius: 6px;
}

.buy-sell-section {
    border-radius: 6px;
    width: 340px;
}

.trade-section {
    border-radius: 6px;
    max-height: 410px;
    width: 55vw;
    overflow: auto;
    overflow-x: hidden;

    .tabs-header {
        padding: 10px;
    }

    .panel-body {
        padding: 15px;
    }

    .nav-tabs .nav-link.active {
        background-color: @border-color-bookmark-icon;
    }

    .highlight-amount {
        background: @highlight-gray;
        border: 1px solid @lightest-gray;
        border-radius: 4px;
        height: 20px;
        padding: 2px;
    }
}

#edit-trade-modal {
    .form-control {
        padding: 10px !important;
    }

    .modal-content {
        min-height: 500px;
        width: 400px !important;
        padding-right: 0 !important;
    }

    .modal-body {
        max-height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}