// Basic Colors
@navy: #22D091; // Primary color
@dark-gray: #c2c2c2; // Default color
@blue: #1c84c6; // Success color
@lazur: #23c6c8; // Info color
@yellow: #f8ac59; // Warning color
@red: #ED5565; // Danger color
@white: #ffffff; // White color

// Various colors
@text-color: #676a6c; // Body text
@gray: #f3f3f4; // Background wrapper color
@light-gray: #D1DADE; // Default label, badge
@lighter-gray: #DCDCDC;
@lightest-gray: #E5E5E5;
@darker-gray: #AAAAAA;
@gray: #F3F3F3;
@label-badge-color: #5E5E5E;
@blue: #2B99FF;
@light-blue: #f3f6fb;
@dark-green: #339A4A;
@text-light-gray: #5B5B5B;
@background-light-gray: #BFBFBF;
@orange: #EDA323;
@black: #1F1F25;
@dark-black: #000000;
@bold-black: #4D4D4E;
@dark-red: #F46D7D;
@dark-blue: #487FD9;
@bleed-red: #D0226B;
@light-red: #E00039;
@highlight-gray: #F7F7F7;
@medium-blue: #3698F3;
@negative-red: #C00000;
@currency-blue: #5AA6FF;
@purple: #7A4AEB;
@light-purple: #DBCCFD;
@dark-purple: rgba(48, 25, 102, 0.6);
@light-green: #78CBBB;
@extra-light-blue: #75BDFF;
@help-blue: #DFF0FF;
@light-brown: #DA8282;
@blur-gray: #9A9A9A;
@error-red: #DE2F1B;
@tour-background: #393C51;
@notification-background: #EDEDED;
@pink: #FF77C0;
@toast-green: #84E4C2;

// Spinner color and margin
@spin-color: @navy;
@spin-margin: 0 auto;



// IBOX colors ( default panel colors)
@border-color: #e7eaec; // IBox border
@ibox-title-bg: #ffffff; // IBox Background header
@ibox-content-bg: #ffffff; // IBox Background content

//Sidebar width
@sidebar-width: 200px;

// Boxed layout width
@boxed-width: 1200px;
@boxed-background: url('patterns/shattered.png');

//Border radius for buttons
@btn-border-radius: 3px;

//Navigation
@nav-bg: #2F4050;
@nav-profile-pattern: url("patterns/header-profile.png");
@nav-text-color: #a7b1c2;

// Font sizes 
@extra-small-font: 10px;
@small-font: 12px;
@medium-font: 14px;
@large-font: 16px;
@extra-large-font: 18px;
@super-large-font: 24px;
@super-extra-large-font: 30px;

// Search icon color
@search-icon-color: #C6D3DA;
@placeholder-color: #768496;

// Watch icon border for stragetegy provider table
@border-color-bookmark-icon: #E7EDF4;
// Sub header icon color
@subheader-icon-color: #b7c0cb;
@subheader-icon-bg: #E2E7FB;

// custom table header
@thead-background: #F9F9FB;
@thead-color: #8E8FA3;
@tfoot-pagination-action: #6D788F;

// currency chips
@chip-background-color: #DCE3EC;
@chip-text-color: #7B8496;

// nav tabs active link
@active-nav-link-color: #D4F6EA;

//modal variables 
@title-black: #3C3C3C;

@table-border: #EEEEEE;

@lightest-green: #C0E9E1;
@refer-demo: #EAEEF6;
@refer-live: #C5D4FB;